html {
  scroll-behavior: smooth;
}
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
}

.display-large {
  font-size: 52px;
  line-height: 56px;
  letter-spacing: -2%;
  text-transform: none;
}